Work done online here: https://dbfiddle.uk/?rdbms=sqlserver_2019&fiddle=51f39300e3ebe5ef2ad7c9570b84ced0

UPDATE SALESPERSONS SET Store = 'Miami' WHERE ID = 4

In [ ]:
UPDATE CUSTOMERS SET Email = 'ppicasso@gmail.com' WHERE ID = 0
UPDATE CUSTOMERS SET Email = 'lincoln@us.gov' WHERE ID = 1
UPDATE CUSTOMERS SET Email = 'hello@napoleon.me' WHERE ID = 2