## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here

sample_list_1= random.sample(range(100),80)
print (sample_list_1)

[39, 72, 91, 46, 90, 19, 28, 30, 7, 24, 97, 27, 78, 64, 79, 1, 68, 89, 34, 25, 94, 70, 99, 60, 73, 93, 9, 45, 29, 23, 83, 33, 13, 8, 66, 31, 84, 15, 49, 47, 51, 14, 44, 57, 42, 63, 21, 65, 62, 0, 58, 77, 18, 3, 5, 17, 98, 92, 61, 40, 41, 52, 86, 55, 4, 56, 26, 20, 67, 38, 10, 54, 2, 11, 36, 43, 76, 32, 16, 6]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1= set((sample_list_1))

print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 79, 83, 84, 86, 89, 90, 91, 92, 93, 94, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here

sample_list_2= []


for i in range(80):
    a= random.randint(0, 9)
    sample_list_2.append(a)     

print (sample_list_2)

[1, 2, 9, 1, 4, 5, 7, 6, 7, 0, 0, 2, 4, 4, 2, 7, 7, 9, 3, 3, 6, 6, 3, 2, 9, 1, 2, 3, 4, 4, 3, 8, 2, 2, 3, 4, 3, 6, 3, 5, 2, 9, 4, 2, 5, 9, 6, 5, 0, 9, 2, 7, 4, 2, 5, 0, 7, 8, 6, 1, 3, 9, 6, 3, 2, 3, 9, 3, 6, 9, 8, 4, 6, 0, 7, 5, 8, 3, 4, 7]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here

set2= set((sample_list_2)) #al transformarlo a set, se queda sólo con los valores únicos

print(set2)
print(len(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
10

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [10]:
# Your code here
set3=set1-set2

print(set3)
print(len(set3))

{10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 79, 83, 84, 86, 89, 90, 91, 92, 93, 94, 97, 98, 99}
70

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [11]:
# Your code here

set4=set2-set1
print(set4)
print(len(set4))

set()
0

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
# Your code here
set5= set1.intersection(set2)
print(set5)
len(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

10

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
# Your code here

if len(set3)== len(set1)-len(set5):
    print ("All right!")
else: 
    print('Loser')
    
if len(set4)==len(set2)-len(set5):
    print ("All right!")
else: 
    print('Loser')


#len (set1)=80
#len(set2)= 10
#set3=set1-set2, len(set3)=72 
#set4=set2-set1, len set 4 es 2
#set5 intersection sest1 y set2, len set5 es 8

All right!
All right!

#### Create an empty set called `set6`.

In [14]:
# Your code here
set6= {0}

print(set6)
print(type(set6))

{0}
<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [15]:
# Your code here
set6.update(set3)
set6.update(set5)

print(len(set6))
print(set6)

80
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 79, 83, 84, 86, 89, 90, 91, 92, 93, 94, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [16]:
# Your code here
if set1==set6:
    print ("All right!")
else: 
    print('Loser')

All right!

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [17]:
# Your code here
#set1.issubset(set2)
set3.issubset(set1) #set3 sí es subset de s1

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [18]:
# Your code here


if set3.union(set4).union(set5)==set1.union(set2):
    print ("All right!")
else: 
    print('Loser')

#len (set1)=80
#len(set2)= 10
#set3=set1-set2, len(set3)=72 
#set4=set2-set1, len set 4 es 2
#set5 intersection sest1 y set2, len set5 es 8

All right!

#### Using the `pop` method, remove the first element from `set1`.

In [19]:
# Your code here


print(set1)

set1.pop()

print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 79, 83, 84, 86, 89, 90, 91, 92, 93, 94, 97, 98, 99}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 79, 83, 84, 86, 89, 90, 91, 92, 93, 94, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove= set(list_to_remove)
print(set1- set_to_remove)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 38, 40, 42, 43, 44, 45, 46, 47, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 83, 84, 86, 90, 92, 93, 94, 97, 98}