# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [113]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [4]:
# Your code here:
df= pd.read_csv('./../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:

df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [9]:
# Your code here:
#percentage null col
df[df.columns[df.isnull().any()]].isnull().sum() * 100 / df.shape[0]

Typical Hours    75.824971
Annual Salary    24.175029
Hourly Rate      75.824971
dtype: float64

In [10]:
#Absolute number os nulls
df[df.columns[df.isnull().any()]].isnull().sum()

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Your code here:

df['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [19]:
# Your code here:

df_departments_employees = df['Department'].value_counts().reset_index()
df_departments_employees.columns= ['Department', 'Count of employees']
df_departments_employees

               Department  Count of employees
0                  POLICE               13414
1                    FIRE                4641
2           STREETS & SAN                2198
3                    OEMC                2102
4             WATER MGMNT                1879
5                AVIATION                1629
6              TRANSPORTN                1140
7          PUBLIC LIBRARY                1015
8        GENERAL SERVICES                 980
9        FAMILY & SUPPORT                 615
10                FINANCE                 560
11                 HEALTH                 488
12           CITY COUNCIL                 411
13                    LAW                 407
14              BUILDINGS                 269
15  COMMUNITY DEVELOPMENT                 207
16       BUSINESS AFFAIRS                 171
17                   COPA                 116
18      BOARD OF ELECTION                 107
19                   DoIT                  99
20            PROCUREMENT                  92
21          INSPECTOR GEN                  87
22         MAYOR'S OFFICE                  85
23             CITY CLERK                  84
24          ANIMAL CONTRL                  81
25        HUMAN RESOURCES                  79
26       CULTURAL AFFAIRS                  65
27          BUDGET & MGMT                  46
28           ADMIN HEARNG                  39
29           DISABILITIES                  28
30              TREASURER                  22
31        HUMAN RELATIONS                  16
32        BOARD OF ETHICS                   8
33           POLICE BOARD                   2
34      LICENSE APPL COMM                   1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [23]:
# Your code here:
from scipy.stats import ttest_1samp

df_hourly_workers= df[df['Salary or Hourly']=='Hourly']
df_hourly_workers.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68

In [25]:
# two-sided test
ttest_1samp(df_hourly_workers['Hourly Rate'], 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [ ]:
#p_value muy pequeño, rechazamos la hipótesis nula, difiere de 30
#hourly wage of all hourly workers is significantly different from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [100]:
# Your code here:

df_police= df[df['Department']=='POLICE']
df_police[df_police.columns[df_police.isnull().any()]].isnull().sum() # Hay 10 valores nulos en Annual Salary

Typical Hours    13404
Annual Salary       10
Hourly Rate      13404
dtype: int64

In [109]:
df_police.dropna(subset=['Annual Salary'], inplace=True)
df_police[df_police.columns[df_police.isnull().any()]].isnull().sum()
df_police.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN

In [110]:
ttest_1samp(df_police['Annual Salary'], popmean= 86000, alternative= 'greater')
#p_value menor que 0.025 y por tanto rechazamos la hipótesis nula, los salarios difieren de 86000

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0010301701775482569)

Using the `crosstab` function, find the department that has the most hourly workers.

In [56]:
pd.crosstab(df_hourly_workers['Department'], df_hourly_workers['Salary or Hourly']).sort_values(by='Hourly', ascending=False)

Salary or Hourly       Hourly
Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
FIRE                        2
PROCUREMENT                 2
BUDGET & MGMT               2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [61]:
# Your code here:

df_streets_hourly= df[ (df ['Department'] =='STREETS & SAN') & (df ['Salary or Hourly'] =='Hourly') ]
ttest_1samp(df_streets_hourly['Hourly Rate'], 35, alternative= 'less')

#p_value muy pequeño, rechazamos la hipótesis nula, aceptamos la alternativa de que sea menor su salario de 35

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [78]:
# Your code here:

In [124]:
from scipy.stats import t

confidence_level = 0.95
degrees_freedom = len_total - 1 #sample size
sample_mean = np.mean(df_hourly_workers ['Hourly Rate'])
sample_standard_error = stats.sem(df_hourly_workers ['Hourly Rate'])

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)


print(confidence_interval)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [125]:
# Your code here:
confidence_level_2 = 0.95
len_total_2= len(df_police)
degrees_freedom_2 = len_total_2 - 1 #sample size
sample_mean_2 = np.mean(df_police ['Annual Salary'])
sample_standard_error_2 = stats.sem(df_police ['Annual Salary'])

confidence_interval_2 = stats.t.interval(confidence_level_2, degrees_freedom_2, sample_mean_2, sample_standard_error_2)


print(confidence_interval_2)

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [129]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest
len_yes_hourly= len (df_hourly_workers)
len_total_hourly= len(df) 
proportions_ztest(len_yes_hourly, len_total_hourly,0.05)

(81.58385654690773, 0.0)

In [ ]:
# No sé si está bien pero parece que no se puede descartar mas que que sea superior al 81%